<main class="desc">
    <img class="logodesc" src="/imagens/caderninho.png" alt="">
    <p class="pdesc">
    Guarde suas Melhores Receitas para Sempre!
    </p>
    <a href="/cad"> <button class="btdesc">Começar!</button></a>
   
</main>